<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Prathmesh joshi. It uses data from mapbox.com and opeanweather.com.<br> You can enter your city name and get the temperature.</p>
        <h3 style="color: rgb(10, 162, 182);">Thank you for visiting...(:</h3>
        <img class= "portrait" src="/img/robot.png" height="100px" width="80px" />
    </div>

    {{>footer}}

  </body>
</html> 