<html>
  <head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}

    <P>Please Contact on Following Number...<br />8880888</P>
    <p>TollFree: {{tollfreenumber}}</p>
    </div>
    {{>footer}}
  </body>
</html>